.carousel-item::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #000;
	opacity: 0.7;
}
.carousel-caption h5,
.carousel-caption p {
	color: white;
}
.course-heading{
	padding: 6% 30%;
	text-align: center;
}